@using UltimateGuide.Models

@functions {
  double? GetAge(DateTime? dateofbirth) {
    return dateofbirth.HasValue ? MathF.Round(((float)(DateTime.Now - dateofbirth.Value).TotalDays) / 365.25f) : null;
  }
}

<!DOCTYPE html>
<html>
<head>
  <title>@ViewData["Title"]</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
  <div class="page-content">
    <h1>Welcome to the View</h1>
    @for (int i = 0;i < ViewBag.Persons.Count;i++) {
      Person p = ViewBag.Persons[i];
      <div class="box float-left w-50"> 
        <h3>@p.Name</h3>
        <table class="table w-100">
          <tbody>
            <tr>
              <td>Gender</td>
              <td>@p.Gender</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>@p.DateofBirth.Value.ToString("MM/dd/yyyy")</td>
            </tr>
          </tbody>
        </table>

        @*<s pan>@p.Gender</span>
        @if (p.DateofBirth != null) {
          <span>@p.DateofBirth.Value.ToString("MM/dd/yyyy")</span>
          <span>@GetAge(p.DateofBirth) years old</span>
        } *@
      </div>
    }
  </div>
</body>
</html>